@model Models.Data.Usuario

@{
    ViewData["Title"] = "Editar Artista";
}

<br />
<br />
<h3 class="text-center">Editar Artista</h3>
<form method="POST" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="IdUsuario" />
    <div class="row px-2 border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row col-10 offset-1 mt-4">
            <div class="col-4">
                <label asp-for="NumeroIdentificacion"></label>
            </div>
            <div class="col-8">
                <input asp-for="NumeroIdentificacion" class="form-control" placeholder="Debe digitar el nombre real del/la artista" />
                <span asp-validation-for="NumeroIdentificacion" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="form-group row col-10 offset-1 mt-4">
            <div class="col-4">
                <label asp-for="NombreCompleto"></label>
            </div>
            <div class="col-8">
                <input asp-for="NombreCompleto" class="form-control" placeholder="Debe digitar el nombre real del/la artista" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="form-group row col-10 offset-1 mt-4">
            <div class="col-4">
                <label asp-for="Genero"></label>
            </div>
            <div class="col-8">
                <select asp-for="Genero" class="form-control">
                    <option value="">Seleccione un Genero</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="form-group row col-10 offset-1 mt-4">
            <div class="col-4">
                <label asp-for="CorreoElectronico"></label>
            </div>
            <div class="col-8">
                <input asp-for="CorreoElectronico" class="form-control" placeholder="Debe digitar el nombre real del/la artista" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="form-group row col-10 offset-1 mt-4">
            <div class="col-4">
                <label asp-for="TipoTarjeta"></label>
            </div>
            <div class="col-8">
                <select asp-for="TipoTarjeta" class="form-control">
                    <option value="">Seleccione un Tipo de targeta</option>
                    <option value="Visa">Visa</option>
                    <option value="MasterCard">Mastercard</option>
                    <option value="AmericanExpress">American Express</option>
                </select>
                <span asp-validation-for="TipoTarjeta" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="form-group row col-10 offset-1 mt-4">
            <div class="col-4">
                <label asp-for="DineroDisponible"></label>
            </div>
            <div class="col-8">
                <input asp-for="DineroDisponible" class="form-control" value="0" />
                <span asp-validation-for="DineroDisponible" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="form-group row col-10 offset-1 mt-4">
            <div class="col-4">
                <label asp-for="NumeroTarjeta"></label>
            </div>
            <div class="col-8">
                <input asp-for="NumeroTarjeta" class="form-control" placeholder="Debe digitar el nombre real del/la artista" />
                <span asp-validation-for="NumeroTarjeta" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="form-group row col-10 offset-1 mt-4">
            <div class="col-4">
                <label asp-for="Contraseña"></label>
            </div>
            <div class="col-8">
                <input asp-for="Contraseña" class="form-control" placeholder="Debe digitar el nombre real del/la artista" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="form-group row col-10 offset-1 mt-4">
            <div class="col-4">
                <label asp-for="IdPerfil"></label>
            </div>
            <div class="col-8">
                <select asp-for="IdPerfil" class="form-control">
                    <option value="">Seleccione un Rol de Usuario</option>
                    <option value="1">Administrador</option>
                    <option value="2">Contador</option>
                    <option value="3">usuario</option>
                </select>
                <span asp-validation-for="IdPerfil" class="text-danger"></span>
            </div>
        </div>

        <br />
        <br />
        <br />

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Editar Usuario</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver atras</a>
                </div>
            </div>
        </div>

    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.3/tinymce.min.js" integrity="sha512-VCEWnpOl7PIhbYMcb64pqGZYez41C2uws/M/mDdGPy+vtEJHd9BqbShE4/VNnnZdr7YCPOjd+CBmYca/7WWWCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
    </script>
}

