@model Models.Data.Canciones

@{

	// Aqui solo le da el nombre a la pesta;a de arriba del navegador

	ViewData["Title"] = "Crear Canciones";

}

<br />
<br />
<h3 class="text-center">Crear un nueva cancion</h3>
<form method="POST" asp-action="Create" enctype="multipart/form-data">
	<div class="row px-2 offset-1 border">
		<div asp-validation-summary="All" class="text-danger"></div>

		<div class="col-10 offset-1 mt-4">
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="CodigoGenero">Código Genero</label>
				</div>
				<div class="col-8">
					<input asp-for="CodigoGenero" class="form-control" placeholder="Debe digitar el código genero" />
					<span asp-validation-for="CodigoGenero" class="text-danger"></span>
				</div>
			</div>

			<br />
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="CodigoAlbum">Código Album</label>
				</div>
				<div class="col-8">
					<input asp-for="CodigoAlbum" type="text" class="form-control" placeholder="Debe digitar el album" />
					<span asp-validation-for="CodigoAlbum" class="text-danger"></span>
				</div>
			</div>

			<br />
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="NombreCancion">Nombre Canción</label>
				</div>
				<div class="col-8">
					<input asp-for="NombreCancion" class="form-control" placeholder="Debe digitar el nombre real de la canción" />
					<span asp-validation-for="NombreCancion" class="text-danger"></span>
				</div>
			</div>

			<br />
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="LinkVideo">Link Video</label>
				</div>
				<div class="col-8">
					<input asp-for="LinkVideo" class="form-control" placeholder="Ingrese la URL de la canción" />
					<span asp-validation-for="LinkVideo" class="text-danger"></span>
				</div>
			</div>

			<br />
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="Precio"></label>
				</div>
				<div class="col-8">
					<input asp-for="Precio" class="form-control" placeholder="Ingrese el precio de la canción" />
					<span asp-validation-for="Precio" class="text-danger"></span>
				</div>
			</div>

			<br />
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="CantidadDisponible">Cantidad Disponible</label>
				</div>
				<div class="col-8">
					<input asp-for="CantidadDisponible" class="form-control" placeholder="Ingrese la cantidad disponible" />
					<span asp-validation-for="CantidadDisponible" class="text-danger"></span>
				</div>
			</div>

			<br />

			<div class="row">
				<div class="col">
					<button type="submit" class="btn btn-primary form-control">Crear Canción</button>
				</div>
				&nbsp;
				<div class="col">
					<a asp-action="Index" class="btn btn-success form-control">Volver atras</a>
				</div>
			</div>
		</div>

	</div>
</form>

@section Scripts {

	@{
		<partial name="_ValidationScriptsPartial" />

	}

}