@using Utilidades
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoVentaMusical</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" href="~/ProyectoVentaMusical.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-2 border-primary shadow-sm mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProyectoVentaMusical</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Desplegable de Opciones
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Artistas" asp-action="Index">Artistas</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Canciones" asp-action="Index">Canciones</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Comprar" asp-action="CarritoCompras">carrito Compras</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Generos" asp-action="Index">Generos Musicales</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Albumes" asp-action="Index">Albumes</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Comprar" asp-action="Index">Comprar Canciones</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Venta de Canciones</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Historial de compras</a>
                                </div>
                            </li>
                        }


                        @if (User.IsInRole(CNT.Administrador))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Desplegable de Opciones
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Artistas" asp-action="Index">Artistas</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Canciones" asp-action="Index">Canciones</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Comprar" asp-action="CarritoCompras">carrito Compras</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Generos" asp-action="Index">Generos Musicales</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Albumes" asp-action="Index">Albumes</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Comprar" asp-action="Index">Comprar Canciones</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Venta de Canciones</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Historial de compras</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(CNT.Contador))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Desplegable de Opciones
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Artistas" asp-action="Index">Artistas</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Canciones" asp-action="Index">Canciones</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Comprar" asp-action="CarritoCompras">carrito Compras</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Generos" asp-action="Index">Generos Musicales</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Albumes" asp-action="Index">Albumes</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Comprar" asp-action="Index">Comprar Canciones</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Venta de Canciones</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Historial de compras</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(CNT.Usuario))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Desplegable de Opciones
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Artistas" asp-action="Index">Artistas</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Canciones" asp-action="Index">Canciones</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Comprar" asp-action="CarritoCompras">carrito Compras</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Generos" asp-action="Index">Generos Musicales</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Albumes" asp-action="Index">Albumes</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Comprar" asp-action="Index">Comprar Canciones</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Venta de Canciones</a>
                                    <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Historial de compras</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2025 - ProyectoVentaMusical - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Incluye el JavaScript de Bootstrap y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- jQuery (necesario para DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <!-- DataTables CSS (para el diseño) -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

</body>
</html>
