@model Models.Data.Artistas

@{
    ViewData["Title"] = "Editar Artista";
}

<br />
<br />
<h3 class="text-center">Editar Artista</h3>
<form method="POST" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="CodigoArtista" />
    <div class="row px-2 border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <!-- Agrupa el formulario en una columna de 8 -->
        <div class="col-8 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NombreArtistico"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NombreArtistico" class="form-control" placeholder="Ingresa el nombre artistico" />
                    <span asp-validation-for="NombreArtistico" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NombreReal"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NombreReal" class="form-control" placeholder="Ingresa el nombre real del artista" />
                    <span asp-validation-for="NombreReal" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FechaNacimiento"></label>
                </div>
                <div class="col-8">
                    <input asp-for="FechaNacimiento" class="form-control" type="date" placeholder="Debe digitar la fecha de nacimiento" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nacionalidad"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nacionalidad" class="form-control" style="height: 300px;">
                    <span asp-validation-for="Nacionalidad" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FotoArtista"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control" />
                    <span asp-validation-for="FotoArtista" class="text-danger"></span>
                </div>
            </div>

            <br />
            @* <div class="form-group row">
            <div class="col-4">
            <label for="Categoría">Categoría</label>
            </div>
            <div class="col-8">
            @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias,
            "-Por favor seleccione una categoría-", new { @class = "form-control" })
            <span asp-validation-for="Articulo.CategoriaId" class="text-danger"></span>
            </div>
            </div>

            <br /> *@

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Editar Articulo</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver atras</a>
                </div>
            </div>
        </div>

        <!-- Muestra la imagen al lado del formulario -->
        <div class="col-4 pt-3">
            <img src="@Model.FotoArtista" width="300px" style="border-radius: 5px; border:1px solid #bbb9b9" />
        </div>
    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.3/tinymce.min.js" integrity="sha512-VCEWnpOl7PIhbYMcb64pqGZYez41C2uws/M/mDdGPy+vtEJHd9BqbShE4/VNnnZdr7YCPOjd+CBmYca/7WWWCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
    </script>
}

