@model Models.ViewModels.AlbumesVM

@{
    // Aqui solo le da el nombre a la pesta;a de arriba del navegador
    ViewData["Title"] = "Crear Album";
}

<br />
<br />
<h3 class="text-center">Crear un nuevo album</h3>
<form method="POST" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label for="CodigoArtista" class="control-label">Artista</label>
                </div>
                <div class="col-8">
                    <select asp-for="Album.CodigoArtista" class="form-control">
                        <option value="">Seleccione un artista</option>
                        @foreach (var artista in Model.ListaArtistas)
                        {
                            <option value="@artista.CodigoArtista">@artista.NombreArtistico</option>
                        }
                    </select>
                    <span asp-validation-for="Album.CodigoArtista" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Album.NombreAlbum"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Album.NombreAlbum" class="form-control" placeholder="Debe digitar el nombre del Album" />
                    <span asp-validation-for="Album.NombreAlbum" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Album.AñoLanzamiento"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Album.AñoLanzamiento" class="form-control" placeholder="Debe digitar el año de lanzamiento" />
                    <span asp-validation-for="Album.AñoLanzamiento" class="text-danger"></span>
                </div>
            </div>
            <br />
            
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Album.ImagenAlbum"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control" />
                    <span asp-validation-for="Album.ImagenAlbum" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Crear Album</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver atras</a>
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


