@model Models.Data.Albumes

@{
    // Aqui solo le da el nombre a la pesta;a de arriba del navegador
    ViewData["Title"] = "Crear Album";
}

<br />
<br />
<h3 class="text-center">Crear un nuevo album</h3>
<form method="POST" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CodigoArtista"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CodigoArtista" type="number" min="1" step="1" class="form-control" placeholder="Debe digitar el Código de Artista" />
                    <span asp-validation-for="CodigoArtista" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NombreAlbum"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NombreAlbum" class="form-control" placeholder="Debe digitar el nombre del Album" />
                    <span asp-validation-for="NombreAlbum" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AñoLanzamiento"></label>
                </div>
                <div class="col-8">
                    <input asp-for="AñoLanzamiento" class="form-control" placeholder="Debe digitar el año de lanzamiento" />
                    <span asp-validation-for="AñoLanzamiento" class="text-danger"></span>
                </div>
            </div>
            <br />
            
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ImagenAlbum"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control" />
                    <span asp-validation-for="ImagenAlbum" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Crear Album</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver atras</a>
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


